<h4 class="text-center">Create a New Recipe </h4>

<form name="newRecipe" novalidate>

  <h5>Recipe Title: <input ng-model="ctrl.recipe.title" name="recipeTitle" required></h5>

  <add-ingredient ing="ing"
                  recipe-ingredients="ctrl.recipe.ingredients"
                  ingredients = "ctrl.ingredients"
                  ng-repeat="ing in ctrl.recipe.ingredients">
  </add-ingredient>

  <div ng-repeat="step in ctrl.recipe.directions">
    <input type="text" ng-model="step.content" placeholder="Enter a step">
    <button type="button"
            ng-click="ctrl.addNewField(step, ctrl.recipe.directions)"
            ng-show="ctrl.showAddField(step, ctrl.recipe.directions)">
            Add another step
    </button>
  </div>

  <input type="button" value="submit recipe" ng-click="newRecipe.$valid && ctrl.submit()">


</form>
