<div ng-form="ingForm">

  <select name="selectIngredient"
          ng-model="ingCtrl.selectedIngredient"
          ng-options='x.name for x in ingCtrl.ingredients'>
          <option value="">Select</option>
  </select>

  <input ng-required="!ing.Ctrl.selectedIngredient" ng-show="!ingCtrl.selectedIngredient" name="textName" type="text" ng-model="ingCtrl.ing.name" placeholder="Enter an ingredient">

  <input required type="text" name="quantPrep" ng-model="ingCtrl.ing.quantityPrep" placeholder="Enter quantity">

  <button type="button"
          ng-click="ctrl.removeField(ingCtrl.ing, ingCtrl.recipeIngredients)"
          ng-show="ctrl.showRemoveField(ingCtrl.ing, ingCtrl.recipeIngredients)">
          Remove this step
  </button>

  <button type="button"
          ng-click="ctrl.addNewField(ingCtrl.ing, ingCtrl.recipeIngredients)"
          ng-show="ctrl.showAddField(ingCtrl.ing, ingCtrl.recipeIngredients)">
          Add another ingredient
  </button>

  <div style="color:red">

      <div ng-messages="ingForm.quantPrep.$error">
        <div ng-message="required" ng-if="ingForm.quantPrep.$touched" > quantity is required</div>
      </div>

      <div ng-messages="ingForm.textName.$error">
        <div ng-message="required" ng-if="ingForm.textName.$touched"> ingredient is required</div>
      </div>

  </div>

</div>
